/*
* desc：供小程序场景使用的iconfont
* date：2022-08-02
* author：lauheeliu（刘诏熹）
* email：lauheeliu@tencent.com
*/

@font-face {
  font-family: "iconfont";
  src: url('https://image-1251917893.file.myqcloud.com/Esports/new/iconfont/iconfont.eot?t=13a02cbb9e9c634e54e36069099a2d1e');
  /* IE9 */
  src: url('https://image-1251917893.file.myqcloud.com/Esports/new/iconfont/iconfont.eot?t=13a02cbb9e9c634e54e36069099a2d1e#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('https://image-1251917893.file.myqcloud.com/Esports/new/iconfont/iconfont.woff?t=13a02cbb9e9c634e54e36069099a2d1e') format('woff2'),
    url('https://image-1251917893.file.myqcloud.com/Esports/new/iconfont/iconfont.woff?t=13a02cbb9e9c634e54e36069099a2d1e') format('woff'),
    /* chrome、firefox */
    url('https://image-1251917893.file.myqcloud.com/Esports/new/iconfont/iconfont.ttf?t=13a02cbb9e9c634e54e36069099a2d1e') format('truetype'),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('https://image-1251917893.file.myqcloud.com/Esports/new/iconfont/iconfont.svg?t=13a02cbb9e9c634e54e36069099a2d1e#iconfont') format('svg');
  /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  will-change: transform;
}

.icon-back:before {
  content: "\e001";
}

.icon-question:before {
  content: "\e006";
}

.icon-add:before {
  content: "\e008";
}

.icon-rule:before {
  content: "\e00a";
}

.icon-chat:before {
  content: "\e00b";
}

.icon-join:before {
  content: "\e00d";
}

.icon-vector:before {
  content: "\e00e";
}

.icon-add-member:before {
  content: "\e00f";
}

.icon-edit:before {
  content: "\e010";
}

.icon-cancel-group:before {
  content: "\e014";
}

.icon-live:before {
  content: "\e016";
}

.icon-share:before {
  content: "\e017";
}

.icon-close:before {
  content: "\e018";
}

.icon-delete:before {
  content: "\e019";
}

.icon-lock:before {
  content: "\e01a";
}

.icon-question-mark:before {
  content: "\e01b";
}

.icon-select:before {
  content: "\e01c";
}

.icon-xingzhuangjiehe:before {
  content: "\e01d";
}

.icon-num:before {
  content: "\e020";
}

.icon-reply:before {
  content: "\e021";
}

.icon-move:before {
  content: "\e023";
}

.icon-increase:before {
  content: "\e024";
}

.icon-reduce:before {
  content: "\e025";
}

.icon-warn:before {
  content: "\e026";
}

.icon-menu:before {
  content: "\e027";
}

.icon-cancel-book:before {
  content: "\e028";
}

.icon-setnum:before {
  content: "\e029";
}

.icon-customize:before {
  content: "\e02a";
}

.icon-download-video:before {
  content: "\e02b";
}

.icon-flag:before {
  content: "\e02d";
}

.icon-fight:before {
  content: "\e02e";
}

.icon-play:before {
  content: "\e02f";
}

.icon-score:before {
  content: "\e030";
}

.icon-cup:before {
  content: "\e031";
}

.icon-custom:before {
  content: "\e032";
}

.icon-look:before {
  content: "\e035";
}

.icon-sz:before {
  content: "\e036";
}

.icon-sort:before {
  content: "\e038";
}

.icon-management:before {
  content: "\e03b";
}

.icon-share-line:before {
  content: "\e03c";
}

.icon-link-video:before {
  content: "\e03e";
}

.icon-empty:before {
  content: "\e03f";
}

.icon-unlock:before {
  content: "\e042";
}

.icon-data:before {
  content: "\e044";
}

.icon-set:before {
  content: "\e045";
}

.icon-book:before {
  content: "\e046";
}

.icon-record:before {
  content: "\e047";
}

.icon-kong:before {
  content: "\e048";
}

.icon-video-number:before {
  content: "\e04a";
}

.icon-qq:before {
  content: "\e050";
}

.icon-upgrade:before {
  content: "\e051";
}

.icon-related:before {
  content: "\e052";
}

.icon-video:before {
  content: "\e053";
}

.icon-wx:before {
  content: "\e054";
}

.icon-phone:before {
  content: "\e056";
}

.icon-message:before {
  content: "\e058";
}

.icon-captain-transfer:before {
  content: "\e05a";
}

.icon-notice:before {
  content: "\e05b";
}

.icon-letter:before {
  content: "\e05c";
}

.icon-eliminate:before {
  content: "\e05f";
}

.icon-private-letter:before {
  content: "\e065";
}

.icon-fabulous:before {
  content: "\e066";
}

.icon-collection:before {
  content: "\e067";
}

.icon-success:before {
  content: "\e06e";
}

.icon-pushing-tower:before {
  content: "\e06f";
}

.icon-dominate:before {
  content: "\e072";
}

.icon-tyrant:before {
  content: "\e076";
}

.icon-dragon-king:before {
  content: "\e073";
}

.icon-combat-road:before {
  content: "\e071";
}

.icon-wild-road:before {
  content: "\e077";
}

.icon-auxiliary-road:before {
  content: "\e070";
}

.icon-growth-road:before {
  content: "\e074";
}

.icon-middle-road:before {
  content: "\e075";
}

.icon-equipment:before {
  content: "\e078";
}

.icon-transfer:before {
  content: "\e07a";
}

.icon-schedule:before {
  content: "\e07b";
}
