/*
* desc：uniapp重置自定义组件样式
* date：2022-09-08
* author：v_lanffang（方岚）
* email：v_lanffang@tencent.com
*/

@import "src/pages/base/layout.scss";
@import "src/pages/base/mixin.scss";


/*
* 创建比赛
* src/pages/admin/view/match-create-new.vue
*/
.info-wrap {
  .uni-input-input{
    text-align: center;
    font-size: $font-xl;
    color: $color-black;
    font-weight: bold;
  }
  .uni-input-placeholder, .input-placeholder{
    right: 0;
    margin: auto;
    font-weight: bold;
  }
}
