/*
* desc：小程序重置自定义组件样式
* date：2022-08-03
* author：lauheeliu（刘诏熹）
* email：lauheeliu@tencent.com
*/

@import "./layout.scss";
@import "./mixin.scss";

/*  
* 个人中心
* src/local-component/ui/pages/user/personal
*/

.personal-content {
  .tip-match-empty-wrap {
    height: 3.2rem !important;
  }

  .van-tab__pane {
    padding-bottom: 40rpx;
  }
}

.tip-match-expland {
  .tip-match-popup-content {
    height: 80vh !important;
  }

  .van-tabs {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;

    // .van-tabs__content {
    //   height: 100%;
    //   overflow-y: auto;
    // }
    .van-tab__pane--active {
      height: auto;
      max-height: calc(80vh - 222rpx);
    }
  }
}

/*  
* 首页
* src/local-component/ui/pages/user/home
*/
.match-nav-wrap,
.tip-match-mp-placeholder {
  .nav-popver {
    left: auto;
    right: .06rem;
    top: .6rem;
    bottom: auto;
    padding: 0;
    background: $color-black;

    &::before {
      left: auto;
      top: -0.12rem;
      right: .14rem;
      border-top: 0.12rem solid $color-black;
    }
  }
}

.tip-match-mp-placeholder {
  .nav-popver {
    top: .7rem;
    right: -1.26rem;

    &::before {
      left: .24rem;
      right: auto;
    }
  }
}

/*
* 赛程页
* src/pages/admin/view/match-schedule-new.vue
*/
.schedule-head-title {
  .tip-match-back {
    background: transparent !important;
    font-weight: normal;
  }
}

.icon-set {
  position: relative;
  z-index: 2;

  .tooltip {
    position: absolute;
    top: .54rem;
    right: -.14rem;
    bottom: auto;
    left: auto;
    color: #fff;
    padding: 0;
    border-radius: .08rem;
  }

  .tooltip.tip-match-popver-bottom::before {
    right: .2rem;
    left: auto;
  }
}

/*
* 战队空间
* src/pages/user/view/team-zone.vue
*/
.page-header-mp {
  .team-name {
    color: $color-black !important;
  }
}

.team-zone {

  // vant组件重写
  .van-tabs ::v-deep {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;

    .van-tabs__wrap {
      height: auto !important;
      background-color: $color-white;
    }

    .van-tabs__content {
      flex: 1;
      overflow-y: auto;
    }

    van-tab {
      overflow-y: auto;
      background-color: $color-white;
    }

    .van-tabs__track {
      van-tab {
        &:first-child {
          padding: 0 .32rem;
        }

        &:last-child {
          background: rgba(255, 255, 255, 0.85);
        }
      }
    }

    .tip-match-empty-wrap {
      margin-top: 1.3rem;
    }

    .van-tab__pane .message-list-item {
      position: relative;
      // border-bottom: 1px solid rgba(223, 226, 234, .3);
    }

    .message-list-item .message-join-tips::after,
    .message-list-item .message-palyer-comment::after {
      @include halfBottomBorder($color-gray-3)
    }

    .van-tab__pane .message-list-item:last-child {
      border: none;
    }

    .van-tab__pane--active {
      height: 100% !important;
    }
  }

  // tab自适应模块
  .tab-content {
    flex: 1;
    overflow-y: hidden;
  }

  .tab-content .van-tabs {
    border-style: none;
  }

  //头部返回按钮
  .tip-match-back {
    color: $color-white !important;
    background: transparent !important;
  }

  .tip-match-right {
    top: .3rem !important;
  }
}

.icon-set {
  .set-popver {
    left: auto;
    right: -.14rem;
    top: .5rem;
    bottom: auto;
    padding: 0;

    &::before {
      left: auto;
      right: .2rem;
    }
  }
}

/* 队员信息 */
.tip-match-request-tip {
  position: absolute;
  left: auto !important;
  top: -.32rem !important;
  right: -.12rem !important;
  width: 4.26rem;
  line-height: .4rem !important;
  padding: .08rem .16rem !important;
  padding-right: .2rem !important;
  z-index: 10 !important;

  &::before {
    right: -2.76rem !important;
  }
}

/*  
* 参赛历史页
* src/local-component/ui/pages/user/history
*/

.page-history {
  .tip-match-back {
    background: transparent !important;
  }

  .van-tabs__wrap {
    margin-bottom: .24rem;
  }

  .tip-match-empty-wrap {
    height: calc(100vh - 2.2rem) !important;
  }

  .tip-match-tab {
    flex: 1;
    min-height: 1px;
  }

  .van-tabs {
    display: flex;
    flex-direction: column;
  }

  .van-tabs,
  .van-tabs__content,
  .van-tab__pane--active {
    height: 100%;
  }
}

/*  
* 加入比赛弹窗
* src/pages/user/view/join-team-popup
*/
.popup-content {
  .tip-match-empty-wrap {
    margin-top: 1rem !important;
    margin-bottom: 1.2rem !important;
  }
}

/*
* 规则页
* src/pages/admin/view/dialog/rule.vue
*/
.wrap-popup-rule {
  .head {
    font-size: $font-l;
    color: $color-black;
    font-weight: bold;
    background: transparent;

    .tip-match-back {
      background: transparent;
      color: $color-black;
      font-weight: normal;
    }
  }
}

/*
* 房间页
* src/pages/user/view/room/index.vue
*/
.match-pk-info-wrap {
  .match-pk-team-item {
    &:last-child {
      .member-handle-tip {
        left: auto;
        right: 1.2rem;

        &::before {
          left: auto;
          right: -.17rem;
          transform: rotate(-90deg);
        }
      }
    }
  }

  .member-handle-tip {
    top: .28rem;
    left: 1.2rem;
    bottom: auto;
    right: auto;
    white-space: nowrap;
    z-index: 8;

    &::before {
      top: .22rem;
      left: -.17rem;
      bottom: auto;
    }
  }
}

.wait-wrap {
  .hold-tip {
    top: auto;
    bottom: .88rem;
    left: 0;
    right: auto;
    white-space: nowrap;

    &::before {
      top: auto;
      left: .22rem;
      right: auto;
      bottom: -.12rem;
    }
  }
}

.match-pk-bottom-wrap {
  .match-pk-bottom-tip-wrap {
    position: absolute;
    left: 50%;
    top: .04rem;
    right: auto;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    height: .56rem;
    padding: 0 .16rem;
    background: $color-black;
    border-radius: .08rem;

    &::before {
      bottom: -.08rem;
      border-top: 0.12rem solid $color-black;
    }
  }

  .match-pk-countdown {
    position: absolute;
    top: -.72rem;
    left: 50%;
    right: auto;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    height: .56rem;
    padding: 0 .16rem;
    background: $color-black;

    p {
      font-size: $font-xxs;
      color: $color-white;
      white-space: nowrap;
    }

    &::before {
      bottom: -.08rem;
      border-top: 0.12rem solid $color-black;
    }

    .icon-close {
      font-size: $font-xm;
      color: $color-white;
      margin-left: .08rem;
    }
  }
}

/*
* 弹窗没有标题
*/
.tip-match-popup-no-title {
  .tip-match-popup-title-wrap {
    height: auto !important;
    padding: .32rem 0 !important;

    &::after {
      display: none !important;
    }
  }
}

/*
* 循环赛赛设置
* src/pages/admin/view/dialog/match-cycle-set.vue
*/
.icon-question-mark {
  font-size: .36rem;
  color: $color-gray-4;
  margin-left: .12rem;
  position: relative;
  z-index: 9 !important;

  .tooltip {
    position: absolute !important;
    top: .56rem !important;
    left: -1.38rem !important;
    bottom: auto !important;
    color: $color-white !important;
    font-size: .24rem !important;
    padding: .14rem .5rem .14rem .24rem !important;
    border-radius: 0.12rem !important;
    box-sizing: border-box !important;
    display: flex !important;
    align-items: center !important;
    width: 4.74rem !important;

    .icon-close {
      font-size: .3rem;
      margin-left: .24rem;
      position: absolute;
      top: .18rem;
      right: .16rem;
    }

    &.tip-match-popver-bottom::before {
      left: 1.42rem;
      right: auto;
    }
  }
}

/*
* 确认小组赛成绩
* src/local-component/ui/tip-match/tip-match-popup/tip-match-popup-confirm-score.vue
*/
.tip-match-popup-team-group {
  .tip-match-empty-wrap {
    margin-top: 1rem;
  }
}

/*
* 时间组件
* src/local-component/ui/tip-match/tip-match-popup-datetime-picker
*/
.tip-match-datetime-picker {
  .van-picker-column__item {
    color: $color-black;
  }

  .van-picker-column__item--selected {
    color: $color-blue-1;
    font-size: $font-xl;
  }
}

/*
* 队伍列表页
* src/pages/user/view/team-list.vue
*/
.team-list-header {
  .tip-match-back {
    background: transparent !important;
  }

  .tip-match-right {
    top: .24rem !important;
  }

  .team-list-select {
    font-size: $font-l;
    color: $color-black;
    line-height: .52rem;
    font-weight: bold;
    display: flex;
    align-items: center;

    .icon-back {
      font-size: .24rem;
      color: $color-black;
      transform: rotate(-90deg);
      margin-left: .16rem;
    }
  }
}

.page-content {
  .tip-match-empty-wrap {
    height: 100% !important;
  }
}

.team-list-tooltip {
  left: auto !important;
  bottom: auto !important;
  top: .54rem;
  right: -.22rem !important;
  padding: 0 !important;

  &.tip-match-popver-bottom::before {
    right: 0.32rem;
    left: auto;
  }
}

/*
* 赛事数据
* src/pages/user/view/data/index.vue
*/
.team-tab {
  height: 100%;
}

.team-tab .van-tabs {
  height: 100%;
  display: flex;
  flex-direction: column;

  .van-tabs__wrap {
    height: auto;
    background: rgba(255, 255, 255, 0.85);
  }

  .van-tab__pane {
    height: 100%;
  }

  .van-tabs__content {
    flex: 1;
  }
}

/*
* 管理员页
* src/pages/admin/view/match-manager.vue
*/
.match-manager {
  .pop-head {
    .tip-match-header {
      font-size: $font-l;
      color: $color-black;
      font-weight: bold;
      background: $color-white;
    }

    .tip-match-back {
      background: transparent;
      color: $color-black;
      font-weight: normal;
    }
  }
}

/*
* 首页
* src/pages/admin/view/match-create-new.vue
*/
.flex-1 .head {
  .tip-match-header {
    font-size: $font-l;
    color: $color-black;
    font-weight: bold;
    background: transparent;
    position: relative;
    z-index: 2;
  }

  .tip-match-back {
    background: transparent !important;
    color: $color-white !important;
    font-weight: normal !important;
  }
}

.flex-1 .normal-head {
  .tip-match-header {
    background: rgba(255, 255, 255, .85);
  }

  .tip-match-back {
    color: $color-black !important;
  }
}

/*
* 设置奖品
* src/pages/admin/view/match-award-set.vue
*/
.match-award-set .head {
  .tip-match-header {
    font-size: $font-l !important;
    color: $color-black !important;
    font-weight: bold !important;
    background: transparent !important;
  }

  .tip-match-back {
    background: transparent !important;
    color: $color-black !important;
    font-weight: normal !important;
  }
}

.award-detial-img-name {
  .tooltip {
    top: auto;
    bottom: 1.26rem !important;
    left: 1.2rem !important;
    right: auto !important;
    color: $color-white !important;
    font-size: $font-xm !important;
    white-space: nowrap !important;
    display: flex !important;
    align-items: center !important;

    &.tip-match-popver-top::before {
      left: .4rem;
      right: auto;
    }

    .icon-close {
      font-size: .3rem;
      color: $color-gray;
      margin-left: .24rem;
    }
  }
}

/*
* 奖品排序
* src/local-component/ui/tip-match/tip-match-rank-award
*/
.order-group {
  movable-area {
    height: 100% !important;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  movable-view {
    width: 100%;
    height: .96rem;
  }

  .scoped-ref {
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.85);
  }

  .order-item {
    background: rgba(255, 255, 255, 0.85);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: .08rem;
    font-size: $font-l;
    color: $color-black;
    font-weight: bold;
    padding: .26rem .32rem;
    -moz-user-select: none;
    /* Firefox私有属性 */
    -webkit-user-select: none;
    /* WebKit内核私有属性 */
    -ms-user-select: none;
    /* IE私有属性(IE10及以后) */
    -khtml-user-select: none;
    /* KHTML内核私有属性 */
    -o-user-select: none;
    /* Opera私有属性 */
    user-select: none;

    /* CSS3属性 */
    .icon-move {
      font-size: .32rem;
      color: $color-black;
    }
  }
}

/*
* 赛程页
* src/pages/admin/view/match-schedule-new.vue
*/
//循环赛
.match-cycle {
  .van-tabs .van-tabs__wrap {
    background: transparent;
  }

  .van-tabs__nav {
    background: transparent;
  }

  .van-sticky--fixed .van-tabs__wrap {
    background: $color-white;
  }
}

/*
* 更多赛程页
* src/pages/admin/view/match-schedule-new.vue
*/
.more-schedule-mp {
  .tip-match-back {
    display: none !important;
  }

  .tip-match-middle {
    opacity: 0 !important;
  }

  .tip-match-right {
    top: .3rem !important;
  }
}

/*
* 赛事主页
* src/pages/admin/view/match-index.vue
*/

// 直播列表代码
.live-item {
  margin-right: .2rem;
}

/*
* 直播中心
* src/local-component/ui/tip-match/tip-match-live-center/index.vue
*/
.tip-match-popver-wrap.live-tooltip {
  display: flex;
  align-items: center;
  top: -.62rem !important;
  left: auto !important;

  &::before {
    left: auto;
    right: .4rem;
  }
}

/*
* 更改手机号
* src/local-component/ui/pages/user/bind-phone/index.vue
*/
.change-phone {
  .head {
    margin-bottom: .4rem;
  }

  .phone-prefix {
    margin-right: .66rem;

    &.blue {
      margin-right: 0;
    }
  }

  .number-code {
    margin-top: .66rem;
  }
}

// 小程序头部二级标题靠左
.match-header-left-mp {
  .tip-match-back {
    display: none !important;
  }

  .tip-match-middle {
    justify-content: space-between !important;
  }
}

// 小程序头部二级去掉返回按钮
.match-header-no-back {
  .tip-match-back {
    display: none !important;
  }
}

/*
* 赛事主页
* src/local-component/ui/pages/user/match
*/
.match-detail-wrap {
  .tip-match-dynamic-wrap {
    background: rgba(255, 255, 255, .8);
  }
}

.expland-icon {
  .status-tip {
    position: absolute;
    bottom: -0.8rem;
    left: -1.8rem;
    font-size: $font-s;
    color: $color-white;
    line-height: .4rem;
    padding: .1rem .4rem .1rem .24rem;
    box-shadow: 0 .04rem .36rem 0 rgba(0, 0, 0, .07);
    z-index: 10;

    &::before {
      position: absolute;
      top: -.12rem;
      left: -3.66rem;
      right: 0;
    }

    &.status-tip-end {
      width: 6.2rem;

      &::before {
        position: absolute;
        top: -.12rem;
        left: -2.19rem;
      }
    }

    &.status-tip-stage {
      width: 5.7rem;

      &::before {
        position: absolute;
        top: -.12rem;
        left: -1.77rem;
      }
    }
  }
}

.empty-fx1 {
  .tip-match-empty-wrap {
    height: 100% !important;
  }
}

/*
* 比赛模式弹窗
* src/local-component/ui/tip-match/tip-match-popup/tip-match-popup-match-model
*/
.popupStartModel {
  .tip-match-popup-title {
    transform: translateX(-.2rem);
  }
}

// 小程序样式(裁剪弹窗样式)
.tip-crop-dialog {
  position: relative;
  z-index: 99;
}

.image-cropper-wrap .image-cropper {
  height: 84% !important;
}

.image-cropper-wrap .nice-cropper {
  background: #12121F !important;
}

.tip-crop-dialog-btn-wrap {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: .32rem .52rem;
  padding-bottom: calc(constant(safe-area-inset-bottom) + .32rem);
  padding-bottom: calc(env(safe-area-inset-bottom) + .32rem);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #12121F;
  z-index: 11;

  .tip-crop-commbtn-style {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.04rem;
    height: .68rem;
    font-size: .28rem;
    border-radius: .04rem;
  }

  .tip-crop-btn-default {
    color: #1181d7;
    border-width: .02rem;
    border-style: solid;
    border-color: #1181d7;
  }

  .tip-crop-btn-primary {
    color: #fff;
    background-image: linear-gradient(to bottom, #336bcf 0%, #339ce5 100%);
    position: relative;

    &::after {
      position: absolute;
      top: .08rem;
      right: 0;
      content: '';
      width: 1.52rem;
      height: .3rem;
      background: url(https://image-1251917893.file.myqcloud.com/Esports/new/user/btn-bg-r.png) no-repeat center;
      background-size: contain;
      pointer-events: none;
    }

    &::before {
      position: absolute;
      bottom: 0;
      left: 0;
      content: '';
      width: 1.26rem;
      height: .3rem;
      background: url(https://image-1251917893.file.myqcloud.com/Esports/new/user/btn-bg-r.png) no-repeat center;
      background-size: contain;
      pointer-events: none;
    }
  }
}

/*
* ob页
* src/pages/admin/view/match-ob-room.vue
*/

.group-code {
  img {
    width: 2.56rem !important;
    height: 2.56rem !important;
    margin: 0 auto .24rem;
    display: block;
  }
}