@import "../../base/layout.scss";
@import "../../base/mixin.scss";

.press-switch {
  width: .88rem;
  height: .48rem;
  background: $color-gray-3;
  position: relative;
  border-radius: .24rem;
  transition: all .02s cubic-bezier(0, 0, 0.15, 1);

  &::after {
    content: '';
    position: absolute;
    top: .04rem;
    left: .06rem;
    width: .4rem;
    height: .4rem;
    background: $color-white;
    border-radius: 50%;
    transition: all .1s cubic-bezier(0, 0, 0.15, 1);
  }

  &__act {
    background: $color-blue-1;

    &::after {
      left: 0.42rem;
    }
  }
}