@import "../base/layout.scss";
@import "../base/mixin.scss";


// 玩家评论
.press-message-board-normal-comment {
  font-size: $font-l;
  color: $color-gray-5;
  padding: .24rem 0;
  // border-top: .02rem solid $color-gray-3;
  overflow-x: hidden;

  .press-message-board-comment-content {
    display: inline;
    font-size: $font-xm;
    // padding-top: .24rem;
    // padding-left: .8rem;
    color: $color-gray-5;
    line-height: .44rem;
    word-break: break-all;
  }

  .press-message-board-reply {
    // margin-left: .8rem;
    margin-top: .08rem;
    padding: .12rem .16rem .12rem;
    background-color: $color-gray-7;
    border-radius: .08rem;
    font-size: $font-s;
    overflow: hidden;

    .press-message-board-reply-item {
      // margin-bottom: .12rem;
      text-align: justify;

      p {
        display: inline;
        width: 100%;
        word-break: break-all;
        vertical-align: middle;
        line-height: .44rem;
      }
    }

    img {
      display: inline-block;
      height: .32rem;
      width: .58rem;
      margin-right: .08rem;
      vertical-align: middle;
    }

    span {
      color: $color-gray;
      display: inline;
      line-height: .44rem;
      vertical-align: middle;

      p {
        color: $color-black;
      }
    }
  }

  .press-message-board-fold {
    height: .4rem;
    // margin-bottom: .12rem;
    // color: $color-primary;
    color: $color-gray;
    font-size: $font-s;
    line-height: .4rem;
    text-align: left;
    display: flex;
    align-items: center;

    .icon-back {
      color: $color-gray;
      font-size: $font-xs;
      transform: rotate(-90deg);
      margin-left: .1rem;
    }
  }

  .conment-unflod {
    width: 2rem;
    height: .4rem;
    // margin-bottom: .12rem;
    // color: $color-primary;
    color: $color-gray;
    font-size: $font-s;
    line-height: .44rem;
    text-align: left;
    display: flex;
    align-items: center;

    .icon-back {
      color: $color-gray;
      font-size: $font-xs;
      transform: rotate(90deg);
      margin-left: .1rem;
    }
  }

}

.press-message-board-list-item {
  position: relative;
}

.press-message-board-list-item:last-child {
  border: none;
}

.press-message-board-list-item .press-message-board-system-comment::after,
.press-message-board-list-item .press-message-board-normal-comment::after {
  @include halfBottomBorder($color-gray-3)
}

.press-message-board-comment-time {
  color: $color-gray;
  line-height: .44rem;
  font-size: $font-xm;
}

.press-message-board-user {
  display: flex;
  display: inline;
  align-items: center;
  justify-content: space-between;

  .press-message-board-avatar {
    display: none;
    height: .64rem;
    width: .64rem;
    border-radius: 50%;
    border: .02rem solid $color-gray-3;
    margin-right: .16rem;
  }

  .press-message-board-nick {
    display: inline;
    line-height: .44rem;
    // color: $color-black;
    color: $color-gray;
    font-size: $font-xm;
    // font-weight: bold;
    @include single-line-ellipsis;
  }
}

.press-message-board-info {
  display: flex;
  justify-content: space-between;
  margin-top: .08rem;

  .press-message-board-comment-time {
    font-size: $font-s;
  }

  .press-message-board-reply-btn {
    width: .8rem;
    height: .4rem;
    // color: $color-primary;
    color: $color-gray-5;
    font-size: $font-s;
    line-height: .4rem;
    text-align: right;
  }
}

// 加入提示
.press-message-board-system-comment {
  // height: 1.72rem;
  line-height: .4rem;
  font-size: $font-xm;
  padding: .16rem 0 .18rem;
  // border-top: .02rem solid $color-gray-3 ;

  .press-message-board-comment-time {
    font-size: $font-s;
    line-height: .4rem;
    margin-top: .08rem;
  }

  .join-team {
    color: $color-primary;
  }

  .press-message-board-comment-content {
    color: $color-primary;
  }

}