@import "../base/layout.scss";
@import "../base/mixin.scss";

.press-message-board {

  &__list-item {
    position: relative;

    &:last-child {
      border: none;
    }
  }

  &__system-comment::after,
  &__normal-comment::after {
    @include halfBottomBorder($color-gray-3);
  }


  // 加入提示
  &__system-comment {
    // height: 1.72rem;
    line-height: 0.4rem;
    font-size: $font-xm;
    padding: 0.16rem 0 0.18rem;
    // border-top: .02rem solid $color-gray-3 ;

    .press-message-board__comment-time {
      font-size: $font-s;
      line-height: 0.4rem;
      margin-top: 0.08rem;
    }

    .press-message-board__comment-content {
      color: $color-primary;
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;
    margin-top: 0.08rem;

    .press-message-board__comment-time {
      font-size: $font-s;
    }

    .press-message-board__reply-btn {
      width: 0.8rem;
      height: 0.4rem;
      // color: $color-primary;
      color: $color-gray-5;
      font-size: $font-s;
      line-height: 0.4rem;
      text-align: right;
    }
  }

  &__user {
    display: flex;
    display: inline;
    align-items: center;
    justify-content: space-between;

    .press-message-board__avatar {
      display: none;
      height: 0.64rem;
      width: 0.64rem;
      border-radius: 50%;
      border: 0.02rem solid $color-gray-3;
      margin-right: 0.16rem;
    }

    .press-message-board__nick {
      display: inline;
      line-height: 0.44rem;
      // color: $color-black;
      color: $color-gray;
      font-size: $font-xm;
      // font-weight: bold;
      @include single-line-ellipsis;
    }
  }


  &__comment-time {
    color: $color-gray;
    line-height: 0.44rem;
    font-size: $font-xm;
  }


  // 玩家评论
  &__normal-comment {
    font-size: $font-l;
    color: $color-gray-5;
    padding: 0.24rem 0;
    // border-top: .02rem solid $color-gray-3;
    overflow-x: hidden;

    .press-message-board__comment-content {
      display: inline;
      font-size: $font-xm;
      // padding-top: .24rem;
      // padding-left: .8rem;
      color: $color-gray-5;
      line-height: 0.44rem;
      word-break: break-all;
    }

    .press-message-board-reply {
      // margin-left: .8rem;
      margin-top: 0.08rem;
      padding: 0.12rem 0.16rem 0.12rem;
      background-color: $color-gray-7;
      border-radius: 0.08rem;
      font-size: $font-s;
      overflow: hidden;

      .press-message-board__reply-item {
        // margin-bottom: .12rem;
        text-align: justify;

        .press-message-board__reply-content {
          display: inline;
          width: 100%;
          word-break: break-all;
          vertical-align: middle;
          line-height: 0.44rem;
        }
      }

      .press-message-board__reply-avatar {
        display: inline-block;
        height: 0.32rem;
        width: 0.58rem;
        margin-right: 0.08rem;
        vertical-align: middle;
      }

      .press-message-board__reply-nick {
        color: $color-gray;
        display: inline;
        line-height: 0.44rem;
        vertical-align: middle;

        .press-message-board__reply-word {
          display: inline;
          width: 100%;
          word-break: break-all;
          vertical-align: middle;
          line-height: 0.44rem;
          color: $color-black;
        }
      }
    }

    .press-message-board-fold {
      height: 0.4rem;
      // margin-bottom: .12rem;
      // color: $color-primary;
      color: $color-gray;
      font-size: $font-s;
      line-height: 0.4rem;
      text-align: left;
      display: flex;
      align-items: center;

      .icon-back {
        color: $color-gray;
        font-size: $font-xs;
        transform: rotate(-90deg);
        margin-left: 0.1rem;
      }
    }

    .press-message-board-unfold {
      width: 2rem;
      height: 0.4rem;
      // margin-bottom: .12rem;
      // color: $color-primary;
      color: $color-gray;
      font-size: $font-s;
      line-height: 0.44rem;
      text-align: left;
      display: flex;
      align-items: center;

      .icon-back {
        color: $color-gray;
        font-size: $font-xs;
        transform: rotate(90deg);
        margin-left: 0.1rem;
      }
    }
  }
}