/*
* desc：滚动选择弹窗
* date：2022-06-27
* author：v_lanffang（方岚）
* email：v_lanffang@tencent.com
*/
@import "../../base/layout.scss";
@import "../../base/mixin.scss";

.press-picker {
  &--tip {
    padding: .24rem .32rem;
    background: rgba(204, 236, 255, 0.2);
    font-size: $font-s;
    color: $color-blue-1;
  }
}